In [1]:
#startup command
%load_ext sql

In [6]:
#coding commence command
%sql sqlite://

In [7]:
#import library to create visualisation
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
#create database and insert values
%%sql
CREATE TABLE CAR(name varchar(50), brand varchar(50), colour varchar(50), country varchar(50),type varchar(50),average,engine cc,ID, gear, sitting);
INSERT INTO CAR VALUES('city','honda','white','korea','sedan','20','2100','1','6','5');
INSERT INTO CAR VALUES('verna','hyundai','black','africa','sedan','21','2200','2','6','5');
INSERT INTO CAR VALUES('ciaz','maruti suzuki','silver','india','sedan','25','1800','3','5','5');
INSERT INTO CAR VALUES('fortuner','toyota','brown','japnese','suv','12','5000','4','7','7');
INSERT INTO CAR VALUES('endeavour','ford','white','british','suv','10','5500','5','7','7');
INSERT INTO CAR VALUES('cross country','volvo','blue','germany','hatchback','8','4500','6','6','6');
INSERT INTO CAR VALUES('polo','vw','red','germany','megna','17','1500','7','5','5');
INSERT INTO CAR VALUES('GT','BMW','grey','USA','sedan','9','3200','8','7','4');
INSERT INTO CAR VALUES('Q','Audi','yellow','UK','Quattro','8','3300','9','6','6');
INSERT INTO CAR VALUES('GLA','Mercedes','grey','British','suv','8','6000','10','7','7');

SyntaxError: invalid syntax (<ipython-input-8-7055fbea9bc4>, line 3)